.messageDiv {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    overflow-y: auto;
}

.leftDiv {
    width: 400px;
    height: 535px;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
    overflow: auto;
}

.midDiv {
    float: left;
}

#msgs {
    width: 795px;
    height: 495px;
    resize: none;
}

.sendDiv {
    width: 800px;
    height: 34px;
    border: 1px solid black;
    border-top: 0px;
    margin: 0 auto;
    vertical-align: middle;
}

#inputMsg {
    display: flex;
    width: 730px;
    height: 30px;
    float: left;
    border: 0px;
    resize: none;
}

.submit {
    display: flex;
    width: 66px;
    height: 34px;
    float: left;
    background-color: #095bff;
    padding-left: 14px;
}
