<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chat room</title>
    <script type="text/javascript" th:src="@{/static/js/function.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>
</head>
<body>
<div style="margin: auto;">
    <p style="font-size: 20px">烤汤圆的公共聊天房</p>
    <p id="onlineNum"></p>
    <a id="login" onclick="login()">登录</a>
    <br>
    <input type="text" id="sendMessage">
    <input type="button" value="发送" onclick="send()">
    <p id="main"/>
    <input type="button" value="查看历史记录" onclick="queryhistory()">
    <script>
    </script>
</div>
</body>
</html>